* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 14px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	padding: 51px 0 0;
	margin: 0 0 48px;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 71px;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -71px auto 0;
	height: 71px;
	position: relative;
}